<div id="container" class="grid grid-cols-12">
    <main class="col-span-10 col-start-2 md:col-span-8 md:col-start-3 lg:col-span-6 lg:col-start-4 bg-white p-8 my-10 rounded-md drop-shadow-xl">
        
        <h1 class="text-3xl text-center mb-4 font-semibold">Choose Payment Method</h1>

        <div class="menu mb-5">
            <div class="sm:hidden">
                <label for="tabs" class="sr-only">Select your country</label>
                <select (change)="onSelectOption($event)" id="tabs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value='creditCard'>Credit Card</option>
                    <option value='debitCard'>Debit Card</option>
                    <option value='upi'>UPI</option>
                </select>
            </div>
            
            <ul class="hidden text-sm font-medium text-center text-gray-500 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400">
                <li class="w-full focus-within:z-10">
                    <a routerLink="/payment/creditCard" class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700 ">
                        Credit Card
                    </a>
                </li>
                <li class="w-full focus-within:z-10">
                    <a routerLink="/payment/debitCard" class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">
                        Debit Card
                    </a>
                </li>
                <li class="w-full focus-within:z-10">
                    <a routerLink="/payment/upi" class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">
                        UPI
                    </a>
                </li>

            </ul>
        </div>

        <router-outlet></router-outlet>

    </main>
</div>




