<div>
    <!-- <div class="flex justify-center">
        <p (click)="showForm = !showForm" class="w-fit p-2 px-4 rounded-lg text-lg text-center text-gray-600 font-semibold hover:cursor-pointer hover:bg-gray-300 ">
            + Add card
        </p>
    </div> -->

    <!-- <div *ngIf="showForm"> -->
        <form [formGroup]="creditCardPaymentForm" (ngSubmit)="onSubmit()">

            <!--! amount --------------------------------------->
            <div class="mb-5">
                <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Enter Amount
                </label>
                <input
                    formControlName="amount"
                    type="number"
                    id="amount"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                <!--* validation for mobile number -->
                <!-- <span
                    *ngIf="registerForm && registerForm.get('mobileNumber')!.errors && (registerForm.get('mobileNumber')!.dirty || registerForm.get('mobileNumber')!.touched)"
                    class="text-red-500 text-xs"
                >
                    <span *ngIf="registerForm.get('mobileNumber')?.errors!['required']">
                        Mobile number is required
                    </span>
                    <span *ngIf="((registerForm.get('mobileNumber')?.errors!['minlength'] || registerForm.get('mobileNumber')?.errors!['maxlength']) && (registerForm.get('mobileNumber')?.errors!['pattern']));else elseBlock">
                        Please enter a valid Mobile number
                    </span>
                    <ng-template #elseBlock>
                        <span *ngIf="registerForm.get('mobileNumber')?.errors!['minlength'] || registerForm.get('mobileNumber')?.errors!['maxlength']">
                            Mobile number should contain 10 digits only
                        </span>
                        <span *ngIf="registerForm.get('mobileNumber')?.errors!['pattern']">
                            Please enter a valid Mobile number
                        </span>
                    </ng-template>
                </span> -->
            </div>

            <fieldset class="border border-gray-300 p-3 rounded-md  mb-4">
                <legend class="px-2 text-xs font-semibold text-gray-500">Enter Credt Card Details</legend>
                <!--! Name on card --------------------------------------->
                <div class="mb-5">
                    <label for="nameOnCard" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Name on Card
                    </label>
                    <input
                        formControlName="nameOnCard"
                        type="text"
                        id="nameOnCard"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                </div>

                <!--! card number --------------------------------------->
                <div class="mb-5">
                    <label for="cardNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Card Number
                    </label>
                    <input
                        formControlName="cardNumber"
                        type="text"
                        id="cardNumber"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                </div>

                <div class="grid grid-cols-2 gap-5 mb-1">
                    <!--! Expiry date --------------------------------------->
                    <div class="col-span-1">
                        <p for="expiryDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Expiry Date
                        </p>
                        <form formGroupName="expiryDate" class="grid grid-cols-7">
                            <input
                                formControlName="month"
                                type="text"
                                id="month"
                                class="col-span-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            >
                            <div class="col-span-1 flex justify-center items-center scale-150">/</div>
                            <input
                                formControlName="year"
                                type="text"
                                id="year"
                                class="col-span-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            >
                        </form>
                    </div>

                    <!--! CVV --------------------------------------->
                    <div class="col-span-1">
                        <label for="cvv" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            CVV
                        </label>
                        <input
                            formControlName="cvv"
                            type="text"
                            id="cvv"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        >
                    </div>
                </div>
            
            </fieldset>

            <button [disabled]="!creditCardPaymentForm.valid" type="submit" class="disabled:cursor-not-allowed disabled:bg-gray-400 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Pay
            </button>
        
        </form>
    <!-- </div> -->
</div>
