<div class="grid grid-cols-12 grid-rows-5">
    <h1 class="z-10 col-span-6 row-span-1 col-start-4 row-start-2 text-9xl text-center text-white font-bold text-transparent bg-clip-text bg-gradient-to-r to-blue-400 from-red-600">Welcome to</h1>
    <h2 class="z-10 col-span-8 row-span-1 col-start-3 row-start-3 text-6xl text-center text-white font-bold">Fraud Detection App</h2>
    <div (click)="navigate()" class="z-10 col-span-8 row-span-1 col-start-3 row-start-4 flex justify-center h-fit scale-150 hover:cursor-pointer">
        <a class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            Get started
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
    <div class="brightness-50 col-span-12 row-span-5 col-start-1 row-start-1 overflow-y-hidden flex justify-center">
        <video class="w-full" autoplay>
            <source src="assets/videos/home.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>